.git/

.classpath
.project
.settings/
.vscode/
.project
archived/

# Documentation files
PIPELINE_SETUP.md

# Monitoring folder (keep local, don't track)
#monitoring/

# Ignore Ansible environment file
ansible.env

# Ignore unused Ansible playbooks
ansible/playbooks/cicd-pipeline.yml
ansible/playbooks/setup-hosts.yml
ansible/playbooks/k8s-deploy.yml

# Ignore unused Kubernetes manifests
k8s/app-deployment.yaml
k8s/app-pod-service.yaml
k8s/app-pod.yaml
k8s/app-service.yaml
k8s/namespace.yaml
